body {
    margin: 0;
}

.map {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 0;
}

#caption {
    top: 1px;
    position: absolute;
    z-index: 1;
    left: 50%;
    text-align: center;
    transform: translate(-50%, 0);
    display: inline-block; 
    color: #33cfff;
    font-size: 24px;
    text-shadow: #444444 1px 1px;
}

#link {
    bottom: 5px;
    position: absolute;
    z-index: 1;
    left: 50%;
    text-align: center;
    transform: translate(-50%, 0);
    display: inline-block; 
}

#link a {
    text-decoration: none;
    color:#924bbe;
}

.data {
    padding: 5px;
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 1;
    display: inline-block;
    /*background-color: #99CCFF;
    border-radius:5    px;
    opacity:0.5;*/
}

.hint {
    bottom: 28px;
    left: 50%;
    transform: translate(-50%, 0);
    position: absolute;
    display: inline-block;
    z-index: 2;
    background-color: #edf9ff;
    opacity:0.6;
    font-size: small;
}

.hintTable {
    font-size: small;
    margin:auto;   
}

.hintTable td{
    vertical-align:top;
}

.graph {
    padding: 5px;
    position: absolute;
    top: 10px;
    z-index: 1;
    right: 10px;
    width: 40%;
    height: 25% ;
    display: inline-block;
    background-color: #FFFFFF;
    /*    border-radius:5px;*/
    opacity:0.8;
    border:1px solid rgba(0xb7, 0xb7, 0xb7, 0.7);
    border-collapse: collapse;
    border-spacing: 0;
    box-shadow: 10px 10px 5px #888888;
}

.ol-control.ol-zoom {
/*
    top: -moz-calc(100% - 65px);
    top: -webkit-calc(100% - 65px);
*/
    top: calc(100% - 80px);
/*
    left: -moz-calc(50% - 33px);
    left: -webkit-calc(50% - 33px);
*/
    left: 10px; /*calc(100% - 39px);*/
    
}
