body {
    font-family: Verdana, sans-serif;
    margin: 10px;
}
html { 
    background: url('/images/data.jpg') no-repeat center center fixed; 
    background-size: cover;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}

h1 {
    color: #33cfff;
    text-shadow: #444444 1px 1px;
}
.center {
    margin: auto;
    width: 50%;
    padding-top: 1px;
    text-align: center;
}

.center a {
    color: #a964d3; 
}

.phone {
    margin: auto;
    width: 45%;
}

h3 a {
    color: #a964d3;   
    font-weight: bold;
/*    font-size: 22px; */
    text-shadow: rgba(40,40,40,0.6) 1px 1px;
}
