body {
    font-family: Verdana, sans-serif;
}

.dataTableCls {
    margin:auto;
    padding:1px;
    border:1px solid rgba(0xb7, 0xb7, 0xb7, 0.7);
    border-collapse: collapse;
    border-spacing: 0;
    opacity: 0.8;
    box-shadow: 10px 10px 5px #888888;
}

.dataTableCls tr:nth-child(odd){
    background-color:#e4fbff;
}
.dataTableCls tr:nth-child(even) {
    background-color:#ffffff;
}
.dataTableCls td{
    vertical-align:middle;
    border:0px solid #b7b7b7;
    border-width:0px 0px 1px 0px;
    text-align:left;
    padding:5px;
    font-size:12px;
    font-weight:normal;
    color:#000000;
}
.dataTableCls td a {
    text-decoration: none;
    color:#924bbe;
/*    font-weight:bold;*/
}

.dataTableCls tr td {
    vertical-align: top;
}
/*
.dataTableCls tr td:nth-child(3), .dataTableCls tr td:nth-child(6) {
text-align: right;
}
*/

.dataTableClsRightCol1 tr td:nth-child(1), 
.dataTableClsRightCol2 tr td:nth-child(2), 
.dataTableClsRightCol3 tr td:nth-child(3), 
.dataTableClsRightCol4 tr td:nth-child(4), 
.dataTableClsRightCol5 tr td:nth-child(5), 
.dataTableClsRightCol6 tr td:nth-child(6), 
.dataTableClsRightCol7 tr td:nth-child(7), 
.dataTableClsRightCol8 tr td:nth-child(8), 
.dataTableClsRightCol9 tr td:nth-child(9), 
.dataTableClsRightCol10 tr td:nth-child(10), 
.dataTableClsRightCol11 tr td:nth-child(11) {
    text-align: right;
}

/*
.dataTableCls tr:last-child td{
border-width:0px 1px 0px 0px;
}
*/
.dataTableCls tr td:last-child{
    border-width:0px 0px 1px 0px;
}
.dataTableCls tr:last-child td:last-child{
    border-width:0px 0px 0px 0px;
}
.dataTableClsHr tr:first-child td{
    background:-o-linear-gradient(bottom, #4ce2ff 5%, #23C0DE 100%);
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #4ce2ff), color-stop(1, #23C0DE) );
    background:-moz-linear-gradient( center top, #4ce2ff 5%, #23C0DE 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#4ce2ff", endColorstr="#23C0DE");
    background: -o-linear-gradient(top,#4ce2ff,#23C0DE);

    background-color:#23C0DE;
    border:0px solid #b7b7b7;
    border-width:0px 0px 1px 0px;
    font-size:14px;
    font-weight:bold;
    color:#ffffff;
}
.dataTableClsHr tr:first-child:hover td{
    background:-o-linear-gradient(bottom, #cd81fc 5%, #7E3DA6 100%);
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #cd81fc), color-stop(1, #7E3DA6) );
    background:-moz-linear-gradient( center top, #cd81fc 5%, #7E3DA6 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#cd81fc", endColorstr="#7E3DA6");
    background: -o-linear-gradient(top,#cd81fc,'#7E3DA6');
    background-color:#cd81fc;
}